.tableView{
    height: 400px;
    overflow: auto;
}
.tableView table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: calc(100% - 10px);
    overflow: auto;
    height: 100%;
    margin: 10px 0px 10px 10px;
    cursor: default;
}

.tableView table td,
.tableView table th {
    border: 1px solid #ddd;
    padding: 8px;
    overflow-x: clip;
    cursor: default;
}
.tableView table tr td table tr{
    background-color:white;
}
.tableView table tr td table th{
    position: relative;
}
.tableView table tr:nth-child(even),.tableView table tr td table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* .tableView table tr:hover {
    background-color: #ddd;
} */

.tableView table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5b4caf;
    color: white;
    position: sticky;
    top: 0;
}

.status-profit{
    color:green;
}
.status-loss{
    color:red;
}